img {
  max-height: 200px;
  width: 320px;
}

@media screen and (max-width: 350px) {
  img {
    max-height: 200px;
    width: 280px;
  }
}

@media screen and (max-width: 600px) {
  img {
    margin-top: 1.7rem;
  }
}

@media screen and (min-width: 400px) {
  img {
    max-height: 530px;
    width: 360px;
  }
}

@media screen and (min-width: 600px) {
  img {
    max-height: 430px;
    margin-top: 2rem;
  }
}
